
.DepartmentHeadDashboardSideBar-content {
  width: 200px;
  background-color: #e7e4e4;
  color: black;
  height: 93vh;
  padding: 10px;
  margin: 5px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.DepartmentHeadDashboardSideBar-content ul {
  margin-top: 0vh;
  list-style: none;
  padding: 2px;
}

.DepartmentHeadDashboardSideBar-content li {
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  padding: 15px;
  background: rgb(68, 193, 243);
  margin: 3px 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.DepartmentHeadDashboardSideBar-content li:hover {
  transform: scale(1.09);
}
.DepartmentHeadDashboardSideBar-content button {
  width: 20vh;
  background-color: rgb(155, 194, 197);
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  border: none;
  transition: transform 0.3s ease;
}

.logo1 {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  
}
.DepartmentHeadDashboardSideBar-content button:hover {
  transform: scale(1.1);
}

.navpanel-content {
  width: 220px;
  background-color: #d3d3d3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 0 0 10px;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 10px;
}

.university-name {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 25px;
  color: #333;
}

.navpanel-btn {
  width: 100%;
  background: #3399ff;
  color: white;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.navpanel-btn:hover {
  background-color: #267acc;
  transform: translateY(-1px);
}

.navpanel-icon-left {
  font-size: 16px;
}

.navpanel-logout-btn {
  margin-top: auto;
  padding: 12px;
  background-color: #2e4a62;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

.navpanel-logout-btn:hover {
  background-color: #1b2f3e;
  transform: translateY(-1px);
}

