
.sidebar-content{
  width: 200px;
  background-color: #e7e4e4;
  color: black;
  height: 91vh;
  padding: 10px;
  margin: 5px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.sidebar-content ul {
  margin-top: 0vh;
  list-style: none;
  padding: 2px;
  
}

.sidebar-content li {
 
  text-align: center;
  font-weight: bold ;
  border-radius: 15px;
  padding: 15px;
  background: rgb(68, 193, 243) ;
  margin: 3px 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar-content li:hover{
  transform: scale(1.09);
}
.sidebar-content button{

  width: 20vh;
  background-color: rgb(155, 194, 197);
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 15px ;
 border: none;
  
}

.logo{

  width: 100%;   
  max-width: 200px;
  height: auto;   
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.logo:hover{
 transform: scale(1,09) ;
}