
.lecture-page-dashboard-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f7f9;
  overflow: hidden;
}

.lecture-dashboard {
  display: flex;
  background-color:rgb(236, 240, 245);
  min-height: 100vh;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  
}

.lecture-dashboard-main-body {
  padding: 20px;
  margin-top: 2vh;
  width: 100%;
  box-sizing: border-box;
  height: 81vh;
  overflow: hidden;
  
}

.lecture-dashboard-welcome {
  margin: 0 0 10px 2vh;
  font-size: x-large;
  font-weight: bold;
  color: black;
}

.lecture-dashboard-main-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  color: white;
  width: 100%;
  
}

.lecture-dashboard-vertical-info{
  display: flex;
  flex-direction: row;
 
 
}
.lecture-dashboard-vertical-items-icons{
  display: flex;
  width: 10%;
  height: 10%;
  padding: 10px;
  border-top: 10vh;
  color: #2080ce;
  border-radius: 20px;
  background-color: #ccf5f8;
  margin-right: 15px;
  
}
.lecture-dashboard-vertical-items-icons2{
   display: flex;
  width: 10%;
  height: 10%;
  padding: 10px;
  border-top: 10vh;
  color: #238070;
  border-radius: 20px;
  background-color: #b7e7db;
  margin-right: 15px;
}
.lecture-dashboard-vertical-items-icons3{
   display: flex;
  width: 10%;
  height: 10%;
  padding: 10px;
  border-top: 10vh;
  color: #684e09;
  border-radius: 20px;
  background-color: #ebca8e;
  margin-right: 15px;
}
.lecture-dashboard-vertical-items-icons4{
   display: flex;
  width: 10%;
  height: 10%;
  padding: 10px;
  border-top: 10vh;
  color: gray;
  border-radius: 20px;
  background-color:rgb(224, 223, 223);
  margin-right: 15px;
}
.lecture-dashboard-main-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.lecture-dashboard-vertical-items {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  
}

.lecture-dashboard-item {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1 1 180px;
  min-width: 50px;
  height: 15vh;
  border: 1px solid white;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 3px 2px 2px gray;
  
}
.lecture-dashboard-report-main-section{
  display:flex;
  flex-direction: row;
  margin-top: 5px;
  padding :0px 20px 0px 0px;
  height: 100%;
  
}

.lecture-dashboard-report-section{
  margin-top: 18px;
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 77%;
  width:70%;
  flex-direction: column;
  padding-left: 10px;
}
.lecture-dashboard-report-section h2{
  text-align: start;
  padding-left: 10px;
  border-bottom: 1px solid gray;
  
}
.lecture-dashboard-report{

 border-bottom: 1px solid gray;
}
.lecture-dashboard-report-status{
  background-color: #ebca8e;
  width:15%;
  border-radius: 10px;
  text-align: center;
}
.lecture-dashboard-report-Activities{
  display:flex;
  
  flex-direction: column;
  padding :20px;
  height: 100%;
  margin-left: 5px;
  width:30%;
  
 

}

.lecture-dashboard-report-Activity-Summary{
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 35%;
  width:100%;
  margin-bottom: 15px;
  
}
.lecture-dashboard-report-Deadline{
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 40%;
  width: 100%;
}
