
.lecture-page-dashboard-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f7f9;
  overflow: hidden;
}

.lecture-dashboard {
  display: flex;
  background-color:rgb(236, 240, 245);
  min-height: 100vh;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  
}

.lecture-dashboard-main-body {
  padding: 20px;
  margin-top: 2vh;
  width: 100%;
  box-sizing: border-box;
  height: 81vh;
  overflow: hidden;
  
}

.lecture-dashboard-welcome {
  margin: 0 0 10px 2vh;
  font-size: xx-large;
  font-weight: bold;
  color: black;
}

.lecture-dashboard-main-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  color: white;
  width: 100%;
  
}

.lecture-dashboard-vertical-info{
  display: flex;
  flex-direction: row;
 
 
}
.lecture-dashboard-vertical-items-icons{
  display: flex;
  width: 15%;
  height: 15%;
  padding: 40px;
  border-top: 10vh;
  color: #2080ce;
  border-radius: 20px;
  background-color: #ccf5f8;
  margin-right: 15px;
  
}
.lecture-dashboard-vertical-items-icons2{
   display: flex;
  width: 15%;
  height: 15%;
  padding: 40px;
  border-top: 10vh;
  color: #238070;
  border-radius: 20px;
  background-color: #b7e7db;
  margin-right: 15px;
}
.lecture-dashboard-vertical-items-icons3{
   display: flex;
  width: 15%;
  height: 15%;
  padding: 40px;
  border-top: 10vh;
  color: #684e09;
  border-radius: 20px;
  background-color: #ebca8e;
  margin-right: 15px;
}
.lecture-dashboard-vertical-items-icons4{
   display: flex;
  width: 15%;
  height: 15%;
  padding: 40px;
  border-top: 10vh;
  color: gray;
  border-radius: 20px;
  background-color:rgb(224, 223, 223);
  margin-right: 15px;
}
.lecture-dashboard-main-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.lecture-dashboard-vertical-items {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  
}

.lecture-dashboard-item {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1 1 180px;
  min-width: 50px;
  height: 20vh;
  border: 1px solid white;
  box-sizing: border-box;
  margin-left: 2vh;
  overflow: hidden;
  box-shadow: 3px 2px 2px gray;
  
}


.lecture-dashboard-table-section {
  
  width: 100%;
  background-color: white;
  margin-top: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 5);
  max-height: 400px;
  overflow-y: auto;
}

.lecture-dashboard-table-heading {
  font-size: xx-large;
  font-weight: black;
  margin-bottom: 1px;
  color: black;
  border-bottom: 3px solid black;
}

.lecture-dashboard-table {
  width: 100%;
  border-collapse: collapse;
}
.lecture-dashboard-tbody tr:nth-child(odd) {
  background-color: #e7e4e4;
}

.lecture-dashboard-tbody tr:nth-child(even) {
  background-color: white;
}

.lecture-dashboard-table th,
.lecture-dashboard-table td {
  text-align: center;
  padding: 12px 8px;
  position: sticky;
  z-index: 1;
}

.lecture-dashboard-table th {
  font-weight: bold;
  
}



