.lecture-dashboard {
  display: flex;
  background-color: rgb(167, 186, 187);
  min-height: 100vh;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  
}

.lecture-dashboard-main-body {
  
  
  background-color: white;
  padding: 20px;
  margin-top: 2vh;
  width: 100%;
  box-sizing: border-box;
  height: 77vh;
  overflow: hidden;
}

.lecture-dashboard-welcome {
  margin: 0 0 10px 2vh;
  font-size: xx-large;
  font-weight: bold;
  color: black;
}

.lecture-dashboard-main-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  color: white;
  width: 100%;
  
}
.sidebar-main {
  display: flex;
  flex-direction: row;
}

.lecture-dashboard-details {
  display: flex;
  padding: 5px 10px;
  font-weight: 200;
  font-size: medium;
  color: black;
  text-align: right;
  flex-direction: row;
  align-self: flex-end;
  
  
}
.lecture-dashboard-details p{
  display: flex;
  align-self: flex-end;
}

.lecture-dashboard-main-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.lecture-dashboard-vertical-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.lecture-dashboard-item {
  background-color: #f5eded;
  padding: 20px;
  border-radius: 8px;
  flex: 1 1 180px;
  min-width: 50px;
  box-sizing: border-box;
  height: 34vh;
  border: 2px solid black;
  box-sizing: border-box;
  margin-left: 2vh;
  text-align: start;
  overflow: hidden;
  
  
}

.weekly-report {
  font-size: large;
  flex: 2 1 300px;
  border: none;
  margin: 0;
  text-align: start;
  overflow: hidden;
}
.lecture-dashboard-item p {
  font-size: 3vh;
}

.lecture-dashboard-item button {
  font-size: large;
  border: none;
  font-weight: bolder;
  background-color: rgb(29, 139, 230);
  padding: 1.5vh;
  text-align: center;
  border-radius: 15px;
  color: black;
  margin-top: 2vh;
  width: 20vh;
  box-shadow: 0px 0px 5px black;
  transition: transform 0.3s;
  cursor: pointer;
}
.lecture-dashboard-item button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .lecture-dashboard-item {
    flex: 1 1 100%;
  }

  .weekly-report {
    flex: 1 1 100%;
  }
}
.lecture-dashboard-table-section {
  
  width: 100%;
  background-color: #f5eded;
  margin-top: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
}

.lecture-dashboard-table-heading {
  font-size: xx-large;
  font-weight: black;
  margin-bottom: 1px;
  color: black;
  border-bottom: 3px solid black;
}

.lecture-dashboard-table {
  width: 100%;
  border-collapse: collapse;
}
.lecture-dashboard-tbody tr:nth-child(odd) {
  background-color: #f5eded;
}

.lecture-dashboard-tbody tr:nth-child(even) {
  background-color: white;
}

.lecture-dashboard-table th,
.lecture-dashboard-table td {
  text-align: center;
  padding: 12px 8px;
  border-left: 1px solid black;
  position: sticky;
  z-index: 1;
}

.lecture-dashboard-table th {
  font-weight: bold;
  
}
.lecture-dashboard-userIcon{
  display: flex;
  width:35%;
  max-width: 60px;
  height:auto;
  color:rgb(29, 139, 230);
 
}

.lecture-dashboard-triangle-excl-icon{
  
  display: flex;
  width:60%;
  max-width: 75px;
  height:auto;
  padding: 1px;
  color: red;
  position: absolute;

}
