.academic-page-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f7f9;
  overflow: hidden;
}

.academic-container{
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  overflow: hidden;
}

.academic-page{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.academic-header-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #f5f7f9;
}
.academic-header{
  align-items: center;
  justify-items: start;
}
.academic-stats-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px 30px;
}

.card-icon-container-roles,
.card-icon-container-groups,
.card-icon-container-modules,
.card-icon-container-departments{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 7px;
}
.card-icon-container-roles { background-color: #f7e9ad; }
.card-icon-container-groups { background-color: #c0dfff; }
.card-icon-container-modules { background-color: #fbc7c7; }
.card-icon-container-departments { background-color:  #d8f5c9; }

.shield-user-icon {color: #6a541a;}
.land-mark-icon {color: #24520f;}
.book-open-text-icon {color: rgb(96, 11, 11);}

/* .academic-content-container{
    background-color: white; 
    border: 1px solid rgb(229, 227, 227);
    border-radius: 10px;
    height: 34rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 8px;
    width: 100rem;
    margin: 0 auto;
} */

.academic-content-container {
  background-color: white; 
  border: 1px solid rgb(229, 227, 227);
  border-radius: 10px;
  height: 34rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: auto;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.table-area {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  flex: 1;
  overflow-y: auto;
  min-height: 0; 
}

.header-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.tab-button {
  flex: 1;
  padding: 10px 0;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s;
}

.tab-button:hover {
  background-color: #eaeaea;
}

.tab-button.active {
  border-bottom: 3px solid #007bff;
  color: #007bff;
}

/* .table-area {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
} */

.table-content h3 {
  margin-bottom: 15px;
}

.academic-table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(244, 244, 244);
  table-layout: fixed;
}
.academic-table thead{
  background-color: #f9fafb;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: #4b5563;
}

.academic-table th,
.academic-table td {
  padding: 15px;
  border-bottom: 1px solid #e5e7eb;
  vertical-align: middle;
}
.academic-table td{
  height: 45px;
}

.academic-list-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-academy-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #2f75ec;
  color: white;
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-academy-button:hover {
  background-color: #1d5edb;
}

.academy-button-icon {
  width: 18px;
  height: 18px;
}

.academic-action-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.academic-edit-icon {
  color: #2563eb;
  cursor: pointer;
}

.academic-delete-icon {
  color: #dc2626;
  cursor: pointer;
}