.Lectur-sidebar-container {
  width: 10%;
  min-width: 180px;
  background-color: white;
  color: black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.Lectur-sidebar-logo {
  
  width: 40%;
  max-width: 160px;
  height: auto;
  margin: 0 auto 20px auto;
  display: block;
  mix-blend-mode: multiply;
  filter: brightness(2);
  
}

.Lectur-sidebar-links-container {
 
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  
}
.Lectur-sidebar-links-and-icon{
   display: flex;
   flex-direction: row;
    width: 90%;
    padding-left: 10px;
}

.Lectur-sidebar-link {
  align-self: flex-start;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: black;
  
  
}

.Lectur-sidebar-link:hover {
  transform: scale(1.05);
  text-decoration: underline;
  background-color: rgb(187, 235, 247);
  color: rgb(83, 124, 212);
}

.Lectur-sidebar-logout-btn {
  display: flex;
  width: 50%;
  font-weight: bold;
  border-radius: 10px;
  padding-left: 20px;
  border: none;
  transition: transform 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  flex-direction: row;
  overflow: hidden;
}



.Lectur-sidebar-logout-btn:hover {
  transform: scale(1.05);
  color: red;
}

.Lectur-sidebar-container-logout{
  padding-right: 1vh;
  width: 35%;
  height: 35%;
  
}
.Lectur-sidebar-lower-container{
 display: flex;
 flex-direction: column;
 width: 95%;
 padding-left: 10px;
 margin-top: 48vh;
 border-top: 1px solid gray;
 overflow: hidden;
}
.Lectur-sidebar-container-links{
  padding-right: 6px;
  width: 10%;
  height: 10%;
  
}
.Lectur-sidebar-profile{
  display: flex;
  align-items: center;
  flex-direction: column;
  

}

